<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h2>Login</h2>
<input type="text" id="username" placeholder="유저명">
<input type="password" id="password" placeholder="비밀번호">
<button onclick="login()">Login</button>
<br><br>
<div id="welcome"></div>
<button onclick="fetchProtectedResource('http://localhost:8080/privatechat')">채팅방 메뉴 바로가기</button>
<script>
    function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const loginUrl = 'http://localhost:8080/login';

        fetch(loginUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`
        })
            .then(response => response.json())
            .then(data => {
                localStorage.setItem('authToken',data.authToken);
                document.getElementById('welcome').innerHTML = `${username}`+"님 안녕하세요!";}
            )
            .catch(error => {
                console.error('로그인 에러 발생', error);
            });
    }
    async function getUsername() {
        try {
            const res = await fetch("/username");
            const json = await res.json();
            username = json.username;
        } catch (error) {
            console.error("Error fetching username:", error);
        }
    }

    function fetchProtectedResource(url) {
        const authToken = localStorage.getItem('authToken');

        if (!authToken) {
            alert('먼저 로그인해주세요.');
            return;
        }

        fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${authToken}`,
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href=url;
                   // return response.text();
                }
                else if (response.status === 401) { // 토큰 만료 감지
                    localStorage.removeItem('authToken'); // 토큰 제거
                    alert('세션이 만료되었습니다. 다시 로그인해주세요.');
                    window.location.href = '/login'; // 로그인 페이지로 리다이렉트
                }
                else {
                    throw new Error('Failed to fetch protected resource.');
                }
            })
            .catch(error => {
                // 에러 처리
                console.error('Error:', error);
                alert('리소스를 가져오는데 실패했습니다. 다시 시도해주세요.');
            });
    }

    async function init() {
        await getUsername();
    }
    init();
</script>
</body>
</html>