<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h2>Login</h2>
<input type="text" id="username" placeholder="Username">
<input type="password" id="password" placeholder="Password">
<button onclick="login()">Login</button>
<br><br>
<div id="welcome"></div>
<h2>Fetch Protected Resource</h2>
<button onclick="fetchProtectedResource('http://localhost:8080/menu')">채팅방 메뉴 바로가기</button>
<script>
    function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const loginUrl = 'http://localhost:8080/login';

        fetch(loginUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`
        })
            .then(response => response.json())
            .then(data => {

                localStorage.setItem('authToken',data.authToken);
            })
            .catch(error => {
                console.error('로그인 에러 발생', error);
            });
    }
    async function getUsername() {
        try {
            const res = await fetch("/username");
            const json = await res.json();
            username = json.username;
        } catch (error) {
            console.error("Error fetching username:", error);
        }
    }

    function fetchProtectedResource(url) {
        const authToken = localStorage.getItem('authToken');
        console.log('authToken:', authToken);

        if (!authToken) {
            alert('먼저 로그인해주세요.');
            return;
        }

        fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${authToken}`
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch protected resource');
                }
            })
            .then(data => {
                console.log('Protected resource data:', data);
                alert('Check the console for protected resource data');
            })
            .catch(error => {
                console.error('Error fetching protected resource:', error);
            });
    }
    async function init() {
        await getUsername();
    }
    init();
</script>
</body>
</html>